.notification {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;

  width: 100%;

  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  
    color: $black;
    font-weight: bold;
  
    background-color: $middle-grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}