.subscribe-block {
  display: flex;
  width: 100%;
  margin-top: 50px;
  padding: 92px 80px;

  color: $white;

  background-color: $dark-grey;

  @media (max-width: $mobile) {
    flex-direction: column;
    padding: 40px 0;
  }

  &__bg-wrapper {
    @media (max-width: $mobile) {
      background-color: $dark-grey;
    }
  }
  &__description {
    max-width: 450px;
    margin-right: 40px;

    h3 {
      font-size: 48px;
      line-height: 100%;
    }

    p {
      margin-top: 26px;

      font-size: 28px;
      line-height: 91.2%;
    }
  }
  &__form {
    display: flex;
    align-content: stretch;
    max-width: 600px;
    width: 100%;

    @media (max-width: $tablet) {
      flex-direction: column;
      max-width: 300px;
    }

    @media (max-width: $mobile) {
      width: 100%;
      max-width: unset;
      margin: 0 auto;
      margin-top: 30px;
    }

    &-body {
      max-width: 300px;

      @media (max-width: $mobile) {
        width: 100%;
        max-width: unset;
      }
    }  
    &-email {
      width: 300px;
      height: 65px;
      padding: 0 20px;

      color: $black;
      vertical-align: middle;

      background-color: #fff;
      border-radius: 10px;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }
    &-label-checkbox {
      position: relative;
      display: block;
      margin-top: 30px;
      padding-left: 38px;
      
      user-select: none;
      cursor: pointer;

      margin-top: 25px;

      @media (max-width: $tablet) {
        margin-top: 20px;
      }

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: $color-main;
        transition: 0.2s;
        border-radius: 3px;
      }
      &:hover input ~ .checkmark {
        transition: 0.2s;
        background-color: $color-main;
      }
      input:focus ~ .checkmark {
        outline: $color-main auto 5px;
      }
      input:checked ~ .checkmark:after {
        display: block;
      }
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 6px;
        height: 11px;
        border: solid $white;
        border-width: 0px 3px 3px 0;
        transform: rotate(36deg);
      }
    }
    &-submit {
      flex: 1 1 auto;
      height: 65px;
      margin-left: 16px;
      padding: 0 20px;

      background-color: $color-main;
      border-radius: 10px;

      @media (max-width: $tablet) {
        margin-top: 20px;
        margin-left: 0;
        flex: unset;
      }
    }
    &-accepted {
      display: none;

      font-size: 28px;

      @media (max-width: $mobile) {
        margin-top: 30px;
      }
    }

    #subscribe-error {
      display: block;
      margin-top: 10px;
      margin-left: -38px;

      color: grey;
    }

    #email-error {
      display: block;
      margin-top: 10px;
      margin-bottom: -10px;

      color: grey;
    }
  }
}