.container.subscribe-block__bg-wrapper
  .subscribe-block
    .subscribe-block__description
      h3 Успей купить!
      p Подпишись и успей словить все акции
    form(method="post").subscribe-block__form
      .subscribe-block__form-body
        input(type="email" name="email" placeholder="Email").subscribe-block__form-email.input-reset
        label.subscribe-block__form-label-checkbox Подписаться на новости
          input(type="checkbox" name="subscribe")
          span.checkmark
      button(type="submit").subscribe-block__form-submit.button-reset Подписаться
    p.subscribe-block__form-accepted Спасибо за подписку!