.main-page__header-background {
  background: url(../img/general/main-page--desktope.jpg);
  background: url(../img/general/main-page--desktope.jpg) $bgc-header;
  background: url(../img/general/main-page--desktope.webp) $bgc-header;
  background-position: center center;
  background-blend-mode: hue;
  background-size: cover;

  /* @media (max-width: $tablet) {
    background: url(../img/general/main-page--tablet.jpg) rgba(31, 32, 33, 0.79);
    background: url(../img/general/main-page--tablet.webp) rgba(31, 32, 33, 0.79);
  }
  @media (max-width: $mobile) {
    background: url(../img/general/main-page--mobile.jpg) rgba(31, 32, 33, 0.79);
    background: url(../img/general/main-page--mobile.webp) rgba(31, 32, 33, 0.79);
  } */
}