ul.menu#menu
  li.menu__item: a(href="#")&attributes(attr).menu__item-link.menu__page-1 Main
  li.menu__item: a(href="#")&attributes(attr).menu__item-link.menu__page-2 Gallery
  li.menu__item: a(href="#")&attributes(attr).menu__item-link.menu__page-3 News
  li.menu__item: a(href="#")&attributes(attr).menu__item-link.menu__page-4 Profile