template#card
  .card
    .card__sale
    button.card__button-favorite.button-reset
    picture.card__photo
      source(srcset="", type="image/webp")
      img(src="" alt="Фотография кота")
    .card__body
      h4
      .card__info
        p.card__info-color
        p.card__info-age <span id="age"></span><br>Возраст
        p.card__info-paws <span id="paws"></span><br>Кол-во лап
      p.card__price
    a.card__button-buy