.container
  #result.result
    .result__sort
      p Сортировать по:
      .result__sort-price.sort
        button.sort__price.button-reset Цене
        button.sort__price-direction.button-reset
      .result__sort-age.sort
        button.sort__age.button-reset Возрасту
        button.sort__age-direction.button-reset
    .result__body
    .result__button-show-more--center
      button.result__button-show-more.button-reset Показать еще <span id="show-more-text"></span>
    a(href="#result").result__button-go-up