.result {
  position: relative;

  padding-top: 40px;
  padding-bottom: 40px;

  &__sort {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;

    p {
      margin-right: 40px;

      font-size: 18px;
      font-weight: bold;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
    &-price { margin-right: 40px; }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    
    & > * { margin-left: 20px; }
    
    @media (max-width: $tablet) {
      transform: unset;
      justify-content: space-between;
      max-width: 600px;
      margin: 0 auto;

      & > * { margin-left: 0px; }
    }

    @media (max-width: 600px) {
      max-width: 300px;
    }
  }

  &__button {
    &-go-up {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0;

      width: 60px;
      height: 60px;

      background-color: $color-main;

      &:hover, &:focus {
        background-color: rgba($color-main, 0.7);
        transition: 0.2s;
      }

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 5.5px);
        right: calc(50% - 7.5px);
        transform: rotate(-135deg);

        width: 14px;
        height: 14px;
        border-bottom: 3px solid $white;
        border-right: 3px solid $white;
      }
    }
  }
}

.sort {
  display: flex;

  &__price, &__age {
    padding-right: 10px;

    opacity: 1;
    transition: 0.25s;

    @media (max-width: 600px) {
      margin-top: 10px;
    }
    
    &:hover, &:focus {
      opacity: 0.7;
      transition: 0.25s;
    }

    &-direction {
      position: relative;

      width: 30px;

      @media (max-width: 600px) {
        margin-top: 10px;
      }

      &:before {
        content: '';
        position: absolute;
        top: calc(50% - 8px);
        right: 10px;
        transform: rotate(45deg);

        width: 10px;
        height: 10px;
        border-bottom: 2px solid $black;
        border-right: 2px solid $black;

        transition: 0.25s;
      }

      &:hover, &:focus {
        &:before {
          border-bottom: 2px solid rgba($black, 0.5);
          border-right: 2px solid rgba($black, 0.5);
          transition: 0.25s;
        }
      }

      &--up {
        &:before {
          top: calc(50% - 4px);
          transform: rotate(-135deg);
          transition: 0.25s;
        }
      }
    }
  }
}

.card {
  position: relative;
  flex: 0 1 30%;
  margin-top: 23px;

  @media (max-width: $tablet) {
    flex-basis: 46%;
    max-width: 300px;
  }

  @media (max-width: 600px) {
    flex-basis: auto;
  }

  &__body {
    padding: 30px;

    background-color: $light-grey;

    @media (max-width: $tablet) {
      padding: 20px;
    }

    h4 {
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__info {
    display: flex;
    margin-top: 25px;

    font-size: 12px;

    & > * { 
      flex-basis: 33%;
      padding-left: 20px;

      @media (max-width: $tablet) {
        padding-left: 10px;
      }
    }

    &-color {
      position: relative;
      
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
  
        width: 4px;
        height: 100%;
  
        background-color: $color-main;
      }
    }


    span {
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__price {
    margin-top: 16px;

    font-size: 24px;
    font-weight: bold;
  }

  &__sale {
    position: absolute;
    top: 34px;
    left: 38px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 78px;
    height: 39px;

    color: $white;
    font-size: 16px;

    background-color: $color-sale;
    border-radius: 10px;
  }

  &__button {
    &-buy {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 65px;

      color: $white;
      font-size: 16px;
      font-weight: bold;

      background-color: $color-main;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      transition: 0.2s;

      &:hover, &:focus {
        background-color: rgba($color-main, 0.7);
        transition: 0.2s;
      }

      &--sold-out {
        background-color: $dark-grey;
        &:hover, &:focus {
          background-color: $dark-grey;
        }
      }
    }
    &-favorite {
      cursor: pointer;
      position: absolute;
      top: 36px;
      right: 32px;

      width: 40.5px; 
      height: 46px;

      opacity: 0.5;
      transition: 0.2s;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 46 42'%3E%3Cpath fill='%23fff' d='M33.7812.695312c-2.4961 0-4.7846.790988-6.8018 2.351028C25.0456 4.54197 23.758 6.44693 23 7.83214c-.758-1.3853-2.0456-3.29017-3.9794-4.7858C17.0034 1.4863 14.7149.695312 12.2188.695312 5.25298.695312 0 6.39293 0 13.9485c0 8.1627 6.55347 13.7475 16.4746 22.202 1.6847 1.4358 3.5943 3.0633 5.5792 4.7989.2616.2291.5976.3553.9462.3553s.6846-.1262.9462-.3552c1.985-1.7359 3.8946-3.3633 5.5803-4.7999C39.4465 27.696 46 22.1112 46 13.9485 46 6.39293 40.747.695312 33.7812.695312z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;

      &:hover, &:focus {
        opacity: 1;
        transition: 0.2s;
      }

      &--selected {
        opacity: 1;
      }
    }
  }
}